body {
  font-family: sans-serif;
  text-align: center;
}

h3 {
  margin-top: 0%;
  margin-bottom: 1%;
}

#titleName {
  height: 10%;
}

.wordTable {
  height: 10%;
}

.wide {
  max-width: 300px;
  min-width: 300px;
}

#displayTable {
  max-height: 300px;
  min-height: 300px;
}

.card {
  width: 95%;
  filter: brightness(1);
}

.numCell {
  width: 8%;
}

.cardCell {
  width: 15%;
}

.cardTable {
  height: 30%;
}

.statusCell {
  width: 15%;
}

.spaceCell {
  width: 2%;
}

.notice {
  text-align: left;
  font-size: 70%;
}

#p1 {
  font-size: 100%;
  text-align: left;
  height: 10%;
  font-weight: bold;
}
